<!-- Image Background -->
<div class="fixed top-0 left-0 right-0-z-10 w-full">
  <img src="../../../assets/pictured/pexels-moose-photos-1037995.jpg" alt="" />
</div>

<div class="lg:m-10 max-w-xl">
  <!-- Form Inits here -->
  <form
    class="relative border border-gray-100 space-y-3 max-w-screen-md mx-auto rounded-md bg-white p-6 shadow-xl lg:p-10"
  >
    <div class="grid gap-3 lg:grid-cols-2">
      <!-- heading -->
      <h1 class="mb-6 text-xl text-center font-bold lg:text-2xl">
        REGISTER <span>{{ selectedRole }}</span>
      </h1>
      <!-- category -->
      <div>
        <label for="role">Role</label>
        <select
          [(ngModel)]="selectedRole"
          (change)="onRoleChange()"
          id="role"
          name="role"
          class="border border-gray-400 text-gray-900 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 rounded-md bg-gray-100 px-3"
        >
          <option selected="">Choose role</option>
          <option value="DOCTOR">Doctor</option>
          <option value="PATIENT">Patient</option>
          <option value="STAFF">Staff</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>
    </div>

    <div class="grid gap-3 md:grid-cols-2">
      <div>
        <label for="firstName"> First Name </label>
        <input
          [(ngModel)]="signUpDTO.firstName"
          type="text"
          id="firstName"
          name="firstName"
          placeholder="First Name"
          class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
        />
      </div>
      <div>
        <label for="lastName"> Last Name </label>
        <input
          [(ngModel)]="signUpDTO.lastName"
          type="text"
          id="lastName"
          name="lastName"
          placeholder="Last  Name"
          class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
        />
      </div>
    </div>

    <div class="grid gap-3 md:grid-cols-2">
      <div>
        <label for="email"> Email Address </label>
        <input
          [(ngModel)]="signUpDTO.email"
          type="email"
          id="email"
          name="email"
          placeholder="Info@example.com"
          class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
        />
      </div>
      <div>
        <label for="passWord"> Password </label>
        <input
          [(ngModel)]="signUpDTO.passWord"
          type="password"
          id="passWord"
          name="passWord"
          placeholder="******"
          class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
        />
      </div>
    </div>
    <div *ngIf="selectedRole == 'DOCTOR'" class="grid gap-3 lg:grid-cols-2">
      <div>
        <label for="qualification"> Qualification </label>
        <input
          [(ngModel)]="signUpDTO.qualification"
          type="text"
          id="qualification"
          name="qualification"
          placeholder="Qualification"
          class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
        />
      </div>
      <div>
        <label for="department" class="">Department</label>
        <select
          [(ngModel)]="signUpDTO.department"
          id="department"
          name="department"
          class="border border-gray-400 text-gray-900 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 rounded-md bg-gray-100 px-3 mt-2 h-12"
        >
          <option selected="">Choose Department</option>
          <option value="Pending">Pending</option>
          <option value="Completed">Completed</option>
          <option value="Overdue">Overdue</option>
        </select>
      </div>
    </div>

    <div class="grid gap-3 lg:grid-cols-2">
      <div>
        <label for="profile_picture" class=""> Profile </label>
        <input
          [(ngModel)]="signUpDTO.profile_picture"
          type="text"
          id="profile_picture"
          name="profile_picture"
          placeholder="Profile Picture"
          class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
        />
      </div>
      <div>
        <label for="mobile" class=""> Phone </label>
        <input
          [(ngModel)]="signUpDTO.mobile"
          type="text"
          id="mobile"
          name="mobile"
          placeholder="+543 5445 0543"
          class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
        />
      </div>
    </div>

    <div class="grid gap-3 lg:grid-cols-2">
      <div>
        <label for="gender" class="">Gender</label>
        <select
          [(ngModel)]="signUpDTO.gender"
          id="gender"
          name="gender"
          class="border border-gray-400 text-gray-900 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 rounded-md bg-gray-100 px-3"
        >
          <option selected="">Choose status</option>
          <option value="MALE">Male</option>
          <option value="FEMALE">Female</option>
          <option value="NOT_TO_SPECIFY">NOT TO SPECIFY</option>
        </select>
      </div>
      <div *ngIf="selectedRole == 'PATIENT'">
        <label for="Date_of_birth">Date-Of-Birth</label>
        <input
          [(ngModel)]="signUpDTO.dateOfBirth"
          type="date"
          id="Date_of_birth"
          name="Date_of_birth"
          required
          class="border border-gray-400 text-gray-900 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 rounded-md bg-gray-100 px-3"
        />
      </div>
    </div>

    <div class="checkbox">
      <input type="checkbox" id="checkbox1" checked="true" />
      <label for="checkbox1"
        >I agree to the
        <a href="#" target="_blank" class="text-blue-600">
          Terms and Conditions
        </a>
      </label>
    </div>

    <div>
      <button
        data-modal-target="defaultModal"
        data-modal-toggle="defaultModal"
        class="block mt-5 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button"
      >
        NEXT
      </button>
    </div>
  </form>
</div>

<!-- Main modal -->

<div
  id="defaultModal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <div class="lg:m-10 max-w-xl">
      <form
        (ngSubmit)="onSubmit()"
        class="relative border border-gray-100 space-y-3 max-w-screen-md mx-auto rounded-md bg-white p-6 shadow-xl lg:p-10"
      >
        <h1 class="mb-6 text-xl font-semibold lg:text-2xl">Add Address</h1>

        <div class="grid gap-3 md:grid-cols-2">
          <div>
            <label class="" for="locality"> Locality </label>
            <input
              [(ngModel)]="signUpDTO.address.locality"
              type="text"
              id="locality"
              name="locality"
              placeholder="Locality"
              class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
            />
          </div>
          <div>
            <label class="" for="city"> City </label>
            <input
              [(ngModel)]="signUpDTO.address.city"
              type="text"
              id="city"
              name="city"
              placeholder="City"
              class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
            />
          </div>
        </div>
        <div class="grid gap-3 md:grid-cols-2">
          <div>
            <label class="" for="state"> State </label>
            <input
              [(ngModel)]="signUpDTO.address.state"
              type="text"
              id="state"
              name="state"
              placeholder="Your State"
              class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
            />
          </div>
          <div>
            <label class="" for="zip_code"> Zip Code </label>
            <input
              [(ngModel)]="signUpDTO.address.zip_code"
              type="number"
              id="zip_code"
              name="zip_code"
              placeholder="Your Zip Code"
              class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
            />
          </div>
        </div>
        <div class="grid gap-3 md:grid-cols-1">
          <div>
            <label class="" for="country"> Country </label>
            <input
              [(ngModel)]="signUpDTO.address.country"
              type="text"
              id="country"
              name="country"
              placeholder="Country"
              class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3"
            />
          </div>
        </div>
        <div>
          <button
            class="block mt-5 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="submit"
          >
            REGISTER
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
